/<template>
  <div class="div">
      <router-link to="/">122</router-link>


      <router-link
  to="/"
  custom
  v-slot="{ href, route, navigate, isActive }"
>
  <NavLink :active="isActive" :href="href" @click="navigate">
    {{ route.fullPath }}
  </NavLink>
</router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>