<template>
  <div class="header header-transparent">
    <div class="inner">
      <div class="logo-wrapper">
         <a href="/zh-cn/index" id="logo" style="display: none;">
                <img src="https://static.lufaxcdn.com/lufaxholding/common/images/logo.80d5324a.jpg" alt="lufax">  
            </a>
           <a href="/zh-cn/index" id="logo_white" style="">
                <img src="https://static.lufaxcdn.com/lufaxholding/common/images/logo_white.02384774.jpg" alt="lufax">
           </a>
      </div>
      <div class="menus-wrapper">
       <div class="menus">
                <div class="menu-item " style="width:60px;" id="switchLanguage">
                    <div class="menu-item-inner">
                        <div class="lan_switch">
                            
                            
                                <a href="javascript:void(0)" data-lan="zh-cn" class="">简</a><span>/</span>
                                <a href="javascript:void(0)" data-lan="en-us" class="">EN</a>
                            
                        </div>
                    </div>   
                </div>
                    <div class="menu-item " data-hover="1" data-menu="joinUs" style="width:64px;">
                        <div class="menu-item-inner" data-hover="1" data-menu="joinUs">
                            <div><a href="https://talent.pingan.com/recruit/index.html" data-hover="1" data-menu="joinUs" class="">加入我们</a></div>
                            <div class="text-decoration-under-line" style="display: none;"></div>
                        </div>   
                    </div>
                <div class="menu-item " style="width:64px;">
                    <div class="menu-item-inner">
                        <div>
                            <a href="/zh-cn/contactUs" class="">联系我们</a> 
                        </div>
                        <div class="text-decoration-under-line" style="display: none;"></div>
                    </div>   
                </div>
                
                <div class="menu-item " style="width:80px;">
                    <div class="menu-item-inner">
                        <div><a href="https://ir.lufaxholding.com/" class="">投资者关系</a></div>
                        <div class="text-decoration-under-line" style="display: none;"></div>
                    </div>   
                </div>
                
                <div class="menu-item " style="width:64px;">
                    <div class="menu-item-inner">
                        <div><a href="/zh-cn/news/list?pageNum=1&amp;tabItem=" class="">新闻中心</a></div>
                        <div class="text-decoration-under-line" style="display: none;"></div>
                    </div>   
                </div>
                <div class="menu-item " data-hover="1" data-menu="services" style="width:80px;">
                    <div class="menu-item-inner" data-hover="1" data-menu="services">
                        <div><a href="/zh-cn/services" data-hover="1" data-menu="services" class="">业务与服务</a></div>
                        <div class="text-decoration-under-line" style="display: none;"></div>
                    </div>   
                </div>
                <div class="menu-item " data-hover="1" data-menu="aboutUs" style="width:64px;">
                    <div class="menu-item-inner" data-hover="1" data-menu="aboutUs">
                        <div><a href="/zh-cn/about/index" data-hover="1" data-menu="aboutUs" class="" @mouseover="changeMask(false)">关于我们</a></div>
                        <div class="text-decoration-under-line" style="display: none;"></div>
                    </div>
                   
                </div>
                <div class="menu-item " style="width:32px;">
                    <div class="menu-item-inner">
                        <div><a href="/zh-cn/index" class="">首页</a></div>
                        <div class="text-decoration-under-line" style="display: none;"></div>
                    </div> 
                </div>
            </div>
      </div>
     
    </div>

<div class="home_index_container">
  <div id="bannerArea" class="banner_area" style="height: 762.656px;">
    <video width="100%" id="video" x-webkit-airplay="true" airplay="allow" webkit-playsinline="true" playsinline="true" src="https://ljs1.wmcn.com/static/upload/video/20201026/16037095810705273.mp4" class="video1 video" autoplay="" loop="" preload="" muted="" style="width: 1280px; margin-left: -640px;"></video>
    <div class="banner_txt ">
      <img style="width: &nbsp;856px;height: 174px;" src="https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/home_index_video_title.3688842d.png" alt="">
    </div>
    <div class="video-banner-bg">
    </div>
  </div>
 
  <div class="home_index_block_container">
    
    <div class="home_index_block">
      <div class="home_index_block_content">
        

        <div class="home_index_block_content_container" style="width: 0px;">

          
          <div class="home_index_block_content_container_empty_right">
            
          </div>
          
          

          <div class="home_index_block_content_title_container">
            <img style="width: 520px;height: 80px;" src="https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/index_errand_1_title.e6ae3db3.png" alt="">
            <div class="home_index_block_content_subtitle ">
              基于深度学习和大数据分析应用，平台支持自动化组合投资工具，制定定制化且匹配投资者风险偏好的投资组合选择，能通过差异化和自动化投资助力提升投资回报。
            </div>
          </div>
          <div class="home_index_block_content_more ">
            <div class="home_index_block_content_more_box">
              
              
              <a href="/zh-cn/services#ourServices">
                <table>
                  <tbody><tr>
                    <td>
                      <div class="home_index_block_content_more_txt home_index_block_content_more_txt_noactive">
                        了解更多
                      </div>
                    </td>
                    <td class="index_errand_arrow_line_td">
                      <div class="index_errand_arrow_line1"></div>
                      <div class="index_errand_arrow index_errand_arrow_noactive"></div>
                    </td>
                  </tr>
                </tbody></table>
              </a>
              
            </div>
          </div>
        </div>
        
        <div class="home_index_block_content_container_empty"></div>
        
      </div>
      
      
<!--  
      <div class="home_index_block_img_right" style="background-image: url('https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/index_errand_1.d29f1660.png');background-size: contain;background-repeat: no-repeat;">
      </div> -->
    </div>
    <div class="home_index_block_empty"></div>
    
    <div class="home_index_block">
      <div class="home_index_block_content">
        
        <div class="home_index_block_content_container_empty"></div>
        

        <div class="home_index_block_content_container" style="width: 0px;">

          
          
          <div class="home_index_block_content_container_empty_left"></div>
          

          <div class="home_index_block_content_title_container">
            <img style="width: 520px;height: 80px;" src="https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/index_errand_2_title.6cf779cc.png" alt="">
            <div class="home_index_block_content_subtitle ">
              拥有多项先进科技应用，全线上业务流程为客户提供信贷服务，满足小微企业主信贷需求。
            </div>
          </div>
          <div class="home_index_block_content_more ">
            <div class="home_index_block_content_more_box">
              
              
              <a href="/zh-cn/services#ourServices">
                <table>
                  <tbody><tr>
                    <td>
                      <div class="home_index_block_content_more_txt home_index_block_content_more_txt_noactive">
                        了解更多
                      </div>
                    </td>
                    <td class="index_errand_arrow_line_td">
                      <div class="index_errand_arrow_line1"></div>
                      <div class="index_errand_arrow index_errand_arrow_noactive"></div>
                    </td>
                  </tr>
                </tbody></table>
              </a>
              
            </div>
          </div>
        </div>
        
      </div>
      
      <!-- <div class="home_index_block_img_left" style="background-image: url('https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/index_errand_2.ae5bbb52.png');background-size: contain;background-repeat: no-repeat;">
      </div> -->

      
      
    </div>
    <div class="home_index_block_empty"></div>
    
  </div>
  
  
</div>



  </div>

  
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      
    }
  },
methods: {
  changeMask() {
    console.log(222);
  },
},
}
</script>

<style>
*{
    padding: 0;
    margin: 0;
}


.home_index_container {
    min-width: 1280px;
    font-size: 0;
    line-height: 0;
}
.home_index_block_content {
    padding-left: 80px;
    margin: 0 50px;
    
    height: 510px;
    background: #fff;
    box-shadow: 0 10px 30px 0 rgb(64 61 136 / 10%);
}
.home_index_block_content_container {
    min-width: 440px;
    margin-top: 85px;
    height: 425px;
    display: inline-block;
}
element.style {
    background-image: url(https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/index_errand_1.d29f1660.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.home_index_block_img_right {
    width: 731px;
    height: 596px;
    position: absolute;
    right: 0;
    top: 0;
}
.home_index_block_content_container_empty {
    width: 660px;
    height: 10px;
    display: inline-block;
}
.home_index_block_content_more {
    width: 240px;
    margin-top: 40px;
    font-size: 0;
    line-height: 0;
}
.home_index_block_content_more_box {
    height: 30px;
    line-height: 30px;
}
.home_index_block_content_container_empty {
    width: 660px;
    height: 10px;
    display: inline-block;
}
.home_index_block_empty {
    width: 50px;
    height: 100px;
}
.home_index_block_empty {
    width: 10px;
    height: 160px;
}
.home_index_block_content {
    padding-left: 80px;
    margin: 0 50px;
    height: 510px;
    background: #fff;
    box-shadow: 0 10px 30px 0 rgb(64 61 136 / 10%);
}
.home_index_block_content_container_empty {
    width: 660px;
    height: 10px;
    display: inline-block;
}
.home_index_block_content_container {
    min-width: 440px;
    margin-top: 85px;
    height: 425px;
    display: inline-block;
}
.home_index_block_content_more {
    width: 240px;
    margin-top: 40px;
    font-size: 0;
    line-height: 0;
}
.banner_area {
    display: block;
    height: 930px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.header-transparent {
    background: transparent!important;
}

.banner_txt {
    display: block;
    width: 856px;
    height: 174px;
    top: 50%;
    z-index: 2;
    text-align: center;
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    letter-spacing: 18px;
}
.video-banner-bg {
    height: 930px;
    background: #000 url(/lufaxholding/common/images/video.4c874bf8.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: none;
}

.header .inner {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.header .logo-wrapper {
    height: 80px;
    width: 100px;
    float: left;
}
.header .menus-wrapper {
    float: right;
}

.header .menu-item {
    float: right;
    height: 80px;
    margin-left: 60px;
}

.header .menu-item .menu-item-inner {
    position: relative;
    height: 80px;
}
element.style {
    background-image: url(https://static.lufaxcdn.com/lufaxholding/pages/lufax/images/index_errand_2.ae5bbb52.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.home_index_block_img_left {
    width: 731px;
    height: 596px;
    position: absolute;
    left: 0;
    top: 0;
}
.header .menu-item .menu-item-inner div:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #333;
    text-align: center;
    white-space: nowrap;
}
.header .menu-item a {
    font-family: PingFangSC-Medium;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}
.header .menu-item a:hover {
      border-bottom: 3px solid blue;
}
.header .logo-wrapper img {
    width: 104px;
    height: 36px;
    padding-top: 16px;
}

.banner_txt, .video1 {
    position: absolute;
    left: 50%;
}
.video1 {
    top: 0;
    z-index: 1;
    min-width: 1200px;
    width: 2480px;
    margin-left: -1240px;
}
video {
    outline: none;
    min-width: 1280px;
    -o-object-fit: contain;
    object-fit: contain;
}
.home_index_title {
    margin-top: 70px;
    margin-bottom: 40px;
    font-family: HYWenHei-GEW;
    font-size: 42px;
    color: #222;
    line-height: 42px;
    text-align: center;
}


.home_index_subtitle {
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #666;
    text-align: center;
    line-height: 40px;
}
.home_index_container {
    background-color: #fff;
    min-width: 1280px;
    font-size: 0;
    line-height: 0;
}
.home_index_block_img_right {
    width: 731px;
    height: 596px;
    position: absolute;
    right: 0;
    top: 0;
}
.home_index_block_content_title_container {
    height: 300px;
}

.home_index_block_content_subtitle {
    margin-top: 20px;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #666;
    letter-spacing: .39px;
    line-height: 30px;
}
</style>
